[submodule "core"]
	path = core
	url = http://github.com/breath-co2/myqee-core.git
[submodule "libraries/myqee/develop"]
	path = libraries/myqee/develop
	url = http://github.com/breath-co2/myqee-lib-develop.git
